@tailwind base;
@tailwind components;
@tailwind utilities;

.psv-navbar {
    display: none !important;
}

.psv--has-navbar .psv-panel {
    height: 100%;
    width: 100%;
    margin: 0;
}

.scene-text {
    background-color: #fff;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.character-intro {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.scene-text:hover {
    transform: scale(1.15);
}