@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Chewy", system-ui;
    @apply select-none
}

.gifs {
    cursor: pointer;
    @apply animate-pulse
}

.psv-navbar {
    display: none !important;
}

.psv--has-navbar .psv-panel {
    height: 100%;
    width: 100%;
    margin: 0;
}

.scene-text {
    background-color: #009ddb;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: "Mulish", sans-serif;

}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in-active {
    opacity: 1;
}

.character-intro {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.psv-tooltip-content {
    background-color: white;
    padding: 0;
    margin: 0;

}

.scene-text:hover {
    transform: scale(1.15);
}

.custom-tooltip {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background: white;

    width: 200px;
}

.custom-tooltip p {
    padding: 1rem;
    font-family: "Chewy", system-ui;
    color: #009ddb;
}

.progress {
    --progress: 0%;

    width: 256px;
    height: 50px;
    margin: 9em auto;
    border: 1px solid #fff;
    padding: 12px 10px;
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: #009ddb;
}

.progress .bar {
    width: var(--progress);
    height: 100%;
    background: linear-gradient(green, rgb(1, 165, 1), green);
    background-repeat: repeat;
    animation:
        shine 4s ease-in infinite,
        end 1s ease-out 1;
    transition: width 3s ease;
}

@property --progress {
    syntax: "<length>";
    initial-value: 0%;
    inherits: true;
}

@keyframes shine {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 50px;
    }
}

@keyframes end {

    0%,
    100% {
        box-shadow: 0 0 10px 0px orange;
    }

    50% {
        box-shadow: 0 0 15px 5px orange;
    }
}