@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Chewy", system-ui;
    @apply select-none
}

.gifs {
    cursor: pointer;
    @apply animate-pulse
}

.psv-navbar {
    display: none !important;
}

.psv--has-navbar .psv-panel {
    height: 100%;
    width: 100%;
    margin: 0;
}

.scene-text {
    background-color: #009ddb;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    @apply shadow-2xl
}

.character-intro {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.scene-text:hover {
    transform: scale(1.15);
}

.custom-tooltip {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    width: 250px;
}

.custom-tooltip p {
    width: 150px;


}